.drag-list-header {
    text-align: left;
    font-size: 20px;
}

.step {
    padding-left: 0;
}

.step li {
    color: white;
    margin-bottom: 0px !important;
    font-size: 14px;
    display: flex;
    border-radius: .2em;
    padding: .7em .8em .5em .7em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.226);
}

.step li:hover,
.step li:active {
    background-color: rgba(80, 80, 80, 0.835);
}

.step p {
    text-align: left;
    max-width: none;
    font-weight: bold;
    margin: 0;
    float: left;
}

.red {
    border: solid 2px rgba(255, 0, 0, 0.541);
}

.blue {
    border: solid 2px rgb(253, 253, 140);
}

.correctOrderIndicator {
    border: solid 2px #585858;
    /* display: none */
}

.next-check-buttons-row {
    width: 100%;
}

.next-check-buttons-row:after {
    content: "";
    display: table;
    clear: both;
}

.next-check-buttons-column {
    float: left;
    width: 50%;
}

.submit-button,
.next-button {
    width: 100%;
    padding: 6px 0;
    height: 40px;
}

@media (min-width: 600px) {
    .submit-button,
    .next-button {
        width: 100%;
        padding: 6px 0;
    }
}