.drag-list-header {
    text-align: left;
    font-size: 20px;
}

.step {
    list-style: none;
    padding-left: 0;
}

.step li {
    font-size: 14px;
    display: flow-root;
    /* align-steps: center; */
    /* border: solid 2px #d0d0d0; */
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
}

.step p {
    text-align: left;
    max-width: none;
    font-weight: bold;
    margin: 0;
    float: left;
}

.red {
    /* background-color: red; */
    border: solid 2px rgba(255, 0, 0, 0.541);
}

.blue {
    border: solid 2px cornflowerblue;
    /* background-color: blue; */
}

.correctOrderIndicator {
    border: solid 2px #d0d0d0;
    display: none
}